h1{
    text-align: center;
    margin-top: 50px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.about-image{
    width: 300px;
    height: auto;
}